{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Home</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'travel/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
{% if messages %}
{% for message in messages %}
<div class="message">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% block content %}{% endblock %}
</body>
</html>